*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Itcavantgardestd,Arial,sans-serif;
}
html ,body{
    width: 100%;
    height: 100%;
    /* background-color: black; */
}
/* Navbar CSS */
.navbar{
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar_menu{
    display: flex;
    list-style: none;
    gap: 20px;
}
.navbar_menu a{
    color: black;
    font-size: 9.6px;
    font-weight: 400;
    font-family: Arial, sans-serif;
}
.nav-link{
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

/* Mega Modal styling ***** WHAT WE DO **** */
.mega_modal{
    display: none;
}
.mega_modal.active{
    position: absolute;
    top: 4rem;
    left: 0px;
    display: flow-root;
    width: 100%;
    height: 100vh;
    background: white;
    overflow: auto;
    z-index: 9999;
}
.whole_mega_column{
    display: flex;
    align-items: center;
    gap: 30%;
}
 #bold{
    margin-left: 100px;
    font-size: 33.8366px;
    color: #000000;
    
    font-weight: 1000;
    line-height: 1.2;
    margin-top: 30px;
}
.mega-column h2{
    font-size: 18.9485px;
    font-weight: 700;
    font-family: Itcavantgardestd,Arial,sans-serif;
    padding: 10px 0px;
}
.mega-column h2:hover{
    text-decoration-line: underline;
    text-underline-offset: 6px;
}
.mega_left_padding{
    padding-left: 100px;
}
.mega_menu li{
    list-style: none;
    padding: 5px 0px;
}
.mega_menu li a {
    color: #000000;
}
.mega_menu li a:hover{
    text-decoration-line: underline;
    text-underline-offset: 6px;
}
ul li{
    list-style: none;
}
.mega-column h2{
    color: #000000;
}
.nav-link.active svg{
    transform: rotate(180deg);
}
.help.active svg{
    transform: rotate(180deg);
}
/* Help **** Mega Help **** */
.mega_help.active{
    position: absolute;
    top: 4rem;
    left: 0px;
    background-color: white;
    width: 100%;
    height: auto;
    display: flow-root;
}
.mega_help{
    display: none;
}
/* Mega are */
.mega_are{
    display: none;
} 
.mega_are.active{
    position: absolute;
    top: 4rem;
    left: 0px;
    display: flow-root;
    background-color: white;
    width: 100%;
    height: auto;
}
.mega_are .mega-column{
    padding-left: 50px;
}
/* Mega Deliver */
.mega_deliver{
    display: none;
}
.mega_deliver.active{
    position: absolute;
    left: 0px;
    top: 4rem;
    background-color: white;
    display: flow-root;
    width: 100%;
}
.mega_deliver .mega-column{
    padding-left: 50px;
}
/* Mega Join */
.mega_join{
    display: none;
}
.mega_join.active{
    position: absolute;
    top: 4rem;
    left: 0px;
    width: 100%;
    background-color: white;
    display: flow-root;
}
.mega_join .mega-column{
    padding-left: 50px;
}
/* Mega Global*/
.mega_global.active{
    width: 150px;
    position: absolute;
    top: 4rem;
    right:10px ;
    display: flow-root;
    background-color: white;
    padding: 10px 30px;
}
.mega_global{
    display: none;
}
.global a{
    color: black;
}
/* Navbar styling */
.navbar_explore{
    background-color: #0ebab1;
    color: #ffffff;
}
.navbar_talk{
    background-color: #ffffff;
    border: 1px solid #44FFFD;
    color: #0ebab1;
    
}
.common{
    border-radius: 5px;
    padding: 12px 16px;
    border: 1px solid #0ebab1;
    border-radius: 30px;
}
.navbar{
    padding: 0px 50px;
}
/* .back-video{
    position: relative;
     right: 0; 
    bottom: 0;
    top: 4rem;
} */
 /* .back-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
 } */
@media(min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto
    }
}
@media(max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%
    }
}
.hero_content{
    color: #ffffff;
    position: absolute;
    top: 1%;
    left: 0%;
}
.hero_content h1{
    font-size: 48px;
    font-family: Arial, Itcavantgardestd, sans-serif;
    font-stretch: 100%;
    font-weight: 700;
    text-align: left;
}
.hero_section{
    position: relative;
    width: 100%;
}

/* .hero_content{
    position: absolute;
    top: 50px;
    left: 30px;
} */
.hero_content p{
    font-size: 27px;
    font-family: arial, sans-serif;
    padding-bottom: 40px;
}
.hero_content button{
    width: auto;
    padding: 16px 20px;
    font-size: 19.2px;
    font-weight: 400;
    border-radius: 30px;
    border: none;
}
.hero_content strong{
    font-size: 27.9px;
    font-weight: 400;
    display: block;
    padding-top: 20px;
    padding-bottom: 8px;
}
.featured_container img{
    /* width: auto; */
    width: 100px;
}
.featured_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* gap: 30px; */
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    place-items: center start;
    width: 100%;
    /* max-width: 700px; */
}
.padding-24{
    padding: 20px;
}

/* Slider */

.hero_slider{
    width: 100%;
    overflow: hidden;
}
.slider_track{
    /* width: calc(100px * 9); */
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: max-content;
     margin-top: 0 !important;
    display: flex;
    animation: scroll 20s linear infinite;
}
.slider_track_two{
    width: max-content;
    display: flex;
    animation: scroll 20s linear infinite  reverse ;
}
.slid{
    /* border: 1px solid black; */
    flex-shrink: 0;
    width: 150px;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    /* display: inline-block; */
}
.slid img{
    width: 80px;
}
@keyframes scroll {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-50%);
    }
}

/* services */
.section_services{
    background-color: #EBF9F8;
}
.padding_section{
    height: 30px;
    padding: 4px;
}
.heading-style-sh{
    color: RGB(14, 186, 177);
    font-size: 14px;
    padding-left: 30px;
}
#business{
    padding-left: 30px;
    padding-bottom: 50px;
    font-size: 40.60px;
    font-weight: 1000;
    color: white;
    font-stretch: 100%;
}
.padding_8{
    padding: 10px;
    height: 8px;
}
.service_box img{
    width:100%;
    height: 300px;
    border-radius: 10px;
}
.service_box{
    width: 22%;
    position: relative;
}
.service_card h2{
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
}
.grid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}
/* .service_card::after{
    position: absolute;
    content: '';
    inset: 0;
    background-color: rgba(0,0, 0, 0.35);
      border-radius: 10px;
} */